// font-family: 'Dancing Script', cursive;
// font-family: 'Open Sans', sans-serif;


@use './colors' as color;
@use './components' as components;
@use './mixins' as mixins;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

.burger-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 100;
    // border: 1px solid red;
    &:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 8px;
    }
    &:hover {
        .burger-btn__bars::after,
        .burger-btn__bars::before {
            width: 100%;
        }
    }
    &__box {
        position: relative;
        width: 40px;
        height: 30px;
        // border: 1px solid blue;
    }
    &__bars,
    &__bars::before,
    &__bars::after {
        @include mixins.burgerBtn;
    }
    &__bars {
        width: 100%;
        &::after {
            top: 13px;
            width: 60%;
        }
        &::before {
            top: 27px;
            width: 30%;
            transition-delay: 0.1s;
        }
    }
}
